<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="projects" Match="NavLinkMatch.All">
                <i class="bi bi-folder2-open" aria-hidden="true"></i> Projects
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="current-project">
                <i class="bi bi-book" aria-hidden="true"></i> Current Project
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="settings">
                <i class="bi bi-gear" aria-hidden="true"></i> Settings
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
