@page "/"
@inject IDataService _dataService
@inject WritingService _writingService

<h1>Hello, world!</h1>
<p>@Directory.GetCurrentDirectory()</p>

@code {

	protected override void OnInitialized()
	{
		_dataService.SaveProject(new FictionProject { Name = "His story" });
		_dataService.SaveProject(new NonfictionProject { Name = "The book of truth" });
		_dataService.SaveProject(new FictionProject { Name = "Bold story" });
	}
}
