<button type="button" @attributes="ButtonAttributes" data-bs-toggle="modal" data-bs-target="#@Target">
    @ChildContent
</button>

@code {
    [Parameter]
    public required string Target { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? ButtonAttributes { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
